:host{
    padding: 10px;
    align-content: center;
    text-align: center;
}
button{
    border: #1b2845 2px solid;
    border-radius: 20px;    
    background-color: #FFFFFC;
}
h4, h3{
    margin: 0;
}
h3{
    margin-top: 10px;
}