:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}
.toolbar > span{
    padding: 20px;
}
.links{
    margin-left: auto;
}
a{
    padding: 10px;
    margin-right: 40px;
    color: white;
    text-decoration: none;
    font-size: larger;
    border-radius: 20px;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: #1B2845;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

footer{
    background-color: #1B2845;
    height: 100px;
    width: 100%;
    margin-top: auto;
}