<div class="title">
    <h3>Welcome: {{(currentTrainer$ | async)?.username}}. Here you can see your pokemon Collection. Click on a pokemon to view more info.</h3>
    <button *ngIf="(currentTrainer$ | async)?.pokemon?.length !== 0" class="btn" (click)="onClearPokemon()">
        Clear collected Pokemon
    </button>
</div>
<div class="headers">
    <h1>Collected Pokemons</h1>
    <h1 *ngIf="currentPokemon">Additional info</h1>
</div>
<div class="collection">
    <div class="catalogue">
        <div *ngIf="(currentTrainer$ | async)?.pokemon?.length === 0"><h2>No pokemon collected</h2></div>
        <app-pokemon-view *ngFor="let pokemon of (currentTrainer$ | async)?.pokemon" [pokemon]="pokemon" (onPokemonClick)="pokemonClick($event)"></app-pokemon-view>
    </div>
    <div *ngIf="currentPokemon" class="additional">
        <div>
            <img src={{currentPokemon?.imgUrl}} alt="">
        </div>
        <div>
            <h3>Name: </h3>
            <h3>{{currentPokemon?.name}}</h3>
        </div>
        <div>
            <h3>Height: </h3>
            <h3>{{currentPokemon?.details?.height}} dm</h3>
        </div>
        <div>
            <h3>Abilities: </h3>
            <ul class="abilities-list">
                <li *ngFor="let ability of currentPokemon?.details?.abilities"><h4>{{ability.name}}</h4></li>
            </ul>
        </div>
        <div>
            <h3>Types: </h3>
            <ul class="abilities-list">
                <li *ngFor="let type of currentPokemon?.details?.types"><h4>{{type.name}}</h4></li>
            </ul>
        </div>
    </div>
</div>